@import 'tailwindcss';
@import './button.css';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));
:root {
  /* custom color  */
  --color-secondary: #000;
  --color-backgroundBody: #fff;
  --border-color: #00000046;
}

@theme {
  --color-dark-black: #141515;
}

@layer base {
  .container {
    @apply mx-auto max-lg:px-5 lg:px-[30px] xl:max-w-[1330px] xl:p-0;
  }
  * {
    @apply text-white;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-black;
  }

  h1 {
    @apply text-5xl leading-tight font-normal tracking-[-2px] sm:text-[55px] md:text-[67px] lg:text-[84px] xl:text-8xl xl:leading-[1.1] xl:tracking-[-2.88px];
  }

  h2 {
    @apply text-[38px] leading-[1.1] font-normal md:text-[47px] lg:text-[54px] lg:leading-[1.2] xl:text-[64px];
  }

  h3 {
    @apply text-3xl font-normal lg:text-[42px] lg:leading-[1.2] lg:tracking-[-1.68px] xl:text-[56px];
  }

  h4 {
    @apply text-[27px] font-normal lg:text-5xl lg:leading-[1.2];
  }

  h5 {
    @apply text-2xl font-normal lg:text-4xl lg:leading-[1.2] lg:-tracking-[1.08px];
  }

  h6 {
    @apply text-xl font-normal lg:text-[32px] lg:leading-[1.05];
  }

  p {
    @apply text-base font-normal md:text-lg lg:text-xl lg:leading-[1.4];
  }
  em {
    @apply not-italic;
  }
  a {
    @apply inline-block text-sm leading-[1.1] font-medium text-black dark:text-white;
  }
}

.stroke-gold {
  color: #b5b26f;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #b5b26f;
}
