@import 'tailwindcss';
@import './button.css';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));
:root {
  /* custom color  */
  --color-secondary: #000;
  --color-backgroundBody: #edf0f5;
  --border-color: #00000046;
  --text-color: #181818b3;

  /* New reusable colors */
  --color-primary: #d40027;
  --color-gold: #b5b26f;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray-light: #f5f4fb;
  --color-gray-dark: #181818;
  --color-gray-medium: #a3a99f;
  --color-background-light: #f9f9f6;
  --color-background-dark: #f3f8f7;
  --color-accent: #e64445;
  --color-overlay: #18181817;
  --color-overlay-dark: #edf0f533;
}

@theme {
  --color-dark-black: #141515;
  --breakpoint-smallMobile: 23rem;
}

@layer base {
  .container {
    @apply mx-auto max-lg:px-5 lg:px-[30px] xl:max-w-[1330px] xl:p-0;
  }
  * {
    @apply text-[#EDF0F5];
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-black;
  }

  h1 {
    @apply text-5xl leading-tight font-normal tracking-[-2px] sm:text-4xl md:text-5xl lg:text-6xl xl:text-[80px] xl:leading-[1.1] xl:tracking-[-2.88px];
  }

  h2 {
    @apply text-3xl leading-[1.1] font-normal md:text-4xl lg:text-5xl lg:leading-[1.2] xl:text-6xl;
  }

  h3 {
    @apply text-3xl font-normal lg:text-4xl lg:leading-[1.2] lg:tracking-[-1.68px] xl:text-5xl;
  }

  h4 {
    @apply text-[27px] font-normal lg:text-5xl lg:leading-[1.2];
  }

  h5 {
    @apply text-2xl font-normal lg:text-4xl lg:leading-[1.2] lg:-tracking-[1.08px];
  }

  h6 {
    @apply text-xl font-normal lg:text-[32px] lg:leading-[1.05];
  }

  p {
    @apply text-base font-normal md:text-lg lg:text-xl lg:leading-[1.4];
  }

  em {
    @apply not-italic;
  }
  a {
    @apply inline-block text-sm leading-[1.1] font-medium text-black dark:text-white;
  }
}

.stroke-gold {
  color: #b5b26f;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #b5b26f;
}
.stroke-red {
  color: #d40027;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #d40027;
}
